/*Color de fondo de la cabecera*/
/*#principal {
  background-color: var(--theme-color);;
}*/

/*Color de fondo del contenedor para toda la página*/
/*#contenido {
  background-color: var(--theme-color);;
}*/

/*Tabla del equipo*/
#tabla-equipo {
  padding: 10px;
}
#tabla-equipo > div {
  width: 130px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  background-color: #fff;
  /*border: 1px solid #999;*/
  box-shadow: 2px 2px 10px #888888;
}

#tabla-equipo p {
  text-align: center;
  font-size: 0.8em;
  font-weight: 800;
  margin: 10px 0px 0px 0px;
}

/*Tamaño de las citas del 100% del ancho del contenedor*/
principal #citas {
  margin-top:10%;
  width: 100%;
}

/*Tamaño de las citas, así como disposición, color, márgenesy relleno*/
.cita {
  width: 30%;
  height: 5%;
  display: inline-block;
  background-color: beige;
  border-radius: 10%;
  text-align: justify;
  margin-left: 10%;
  margin-top: 10px;
  padding: 10px;
}

/*Color de fondo gradiente de izquierda a derecha pasando del rojo al amarillo, márgenes y posición*/
table {
  background-image: linear-gradient(to right, pink, purple);
  margin-left: 30%;
  position: relative;
}

/*Posicionamento del iframe para el vídeo*/
iframe {
  width: 100%;
  height: 360px;
  margin: auto;
  display: block;
}

section .title { 
  text-align: center !important; 
}