/*Color de fondo de la cabecera*/
#principal {
  background-color: var(--theme-color);;
}

/*Color de fondo del contenedor para toda la página*/
#contenido {
  background-color: var(--theme-color);;
}

/*Margen inferior de las del div de las imágenes para que no se solapen con las opiniones*/
#imagenes {
  margin-bottom: 5%;
}

/*Tamaño, alineación, relleno, color de fondo, sombra del marco (sutil) y márgenes de las imágenes*/
#imagenes img {
  /*width: 320px;
  height: 300px;*/
  text-align: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  padding: 10px;
  padding-bottom: 50px;
  margin: 10%;
  margin-top: 5%;
}

/*Margen entre imágenes*/
figure {
  margin: 10px;
}

/*Colocación del texto que acompaña a las imágenes*/
figure figcaption {
  margin: -20%;
  width: 100%;
  left: 30%;
  position: relative;
  text-align: center;
  caption-side: bottom;
}

/*Disposición de los artículos que conforman las imágenes, para que aparezcan una al lado de otra*/
#imagenes article {
  display: inline-block;
}

/*Tamaño de las citas del 100% del ancho del contenedor*/
principal #citas {
  width: 100%;
}

/*Tamaño de las citas, así como disposición, color, márgenesy relleno*/
.cita {
  width: 30%;
  height: 5%;
  display: inline-block;
  background-color: beige;
  border-radius: 10%;
  text-align: justify;
  margin-left: 10%;
  margin-top: 10px;
  padding: 10px;
}

/*Color de fondo gradiente de izquierda a derecha pasando del rojo al amarillo, márgenes y posición*/
table {
  background-image: linear-gradient(to right, red, yellow);
  margin-left: 25%;
  position: relative;
}

/*Posicionamento del iframe para el vídeo*/
iframe {
  margin-left: 20%;
}

/*Clase usada para poner ciertos textos en negrita*/
.negrita {
  font-weight: bold;
}

/*Clase usada para poner ciertos textos en cursiva*/
.cursiva {
  font-style: italic;
}

/*Formato para los subtítulos H4, lo subrayamos, cambiamos color de fondo y alineamos al centro*/
h4 {
  text-decoration: underline;
  background-color: gray;
  text-align: center;
}
