/*Color de fondo de la cabecera*/
/*#principal {
  background-color: var(--theme-color);;
}*/

/*Color de fondo del contenedor para toda la página*/
/*#contenido {
  background-color: var(--theme-color);;
}*/

/*Tamaño de las citas del 100% del ancho del contenedor*/
principal #citas {
  margin-top:10%;
  width: 100%;
}

/*Tamaño de las citas, así como disposición, color, márgenesy relleno*/
.cita {
  width: 30%;
  height: 5%;
  display: inline-block;
  background-color: beige;
  border-radius: 10%;
  text-align: justify;
  margin-left: 10%;
  margin-top: 10px;
  padding: 10px;
}

/*Color de fondo gradiente de izquierda a derecha pasando del rojo al amarillo, márgenes y posición*/
table {
  background-image: linear-gradient(to right, red, yellow);
  margin-left: 25%;
  position: relative;
}

/*Posicionamento del iframe para el vídeo*/
iframe {
  margin-left: 20%;
}

/*Clase usada para poner ciertos textos en negrita*/
.negrita {
  font-weight: bold;
}

/*Clase usada para poner ciertos textos en cursiva*/
.cursiva {
  font-style: italic;
}

/*Formato para los subtítulos H4, lo subrayamos, cambiamos color de fondo y alineamos al centro*/
h4 {
  text-decoration: underline;
  background-color: gray;
  text-align: center;
}
