/* Establecemos variables para los temas */
:root {
  /* Colores definidos para cambiar el tema*/
  --theme-violeta: 126, 45, 126;
  --theme-rojo: 170, 30, 30;
  --theme-azul: 23, 93, 173;
  --theme-verde: 115, 145, 47;
  --transition-time: 0.5s;
  --transition-type: ease-in-out;
  --theme-color_: var(--theme-azul);
  /* Color por defecto */
  --theme-color: rgb(var(--theme-color_));
  --transitions: var(--transition-time) var(--transition-type);
}

#theme-selector-violeta { background-color: rgb(var(--theme-violeta));}
#theme-selector-rojo { background-color: rgb(var(--theme-rojo));}
#theme-selector-azul { background-color: rgb(var(--theme-azul));}
#theme-selector-verde { background-color: rgb(var(--theme-verde));}

body {
  font-weight: normal;
  line-height: 1.2em;
  font-size: 1.1em;
  font-family: "Open Sans", sans-serif;
  background-color: var(--theme-color);
}

footer {
  text-align: center;
  color: #eee;
  background-color: var(--theme-color);
}

p { font-family: "Open Sans", sans-serif;}

h1 { font-size: 2.2em;}
h1, h2, h3, h4 { font-family: "Lora", sans-serif;}

a {
  color: var(--theme-color);
  text-decoration: none;
}
a:hover {
  color: var(--theme-color);
  text-decoration: underline;
}

/* Define los títulos de las secciones */
section .title {
  color: rgb(var(--theme-color_));
  font-size: 1.8em;
  line-height: 1.5em;
  font-family: "Lora", serif;
  text-decoration: line-through;
  text-decoration-color: rgba(var(--theme-color_), 0.2);
  text-decoration-thickness: 44px;
}


/* Diseño de logotipo */
.logo {
  text-align: left;
  color: rgb(var(--theme-color_));
  font-size: 2.5em;
  font-weight: 600;
  font-family: "Mochiy Pop One", sans-serif;
  text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -4px 15px,
    red 0 -8px 40px;
}

/* Capa que define el fondo que mostrará toda la zona de contenido */
.fondo-principal {
  background-image: url("../images/patron-fondo.png");
  background-color: rgba(255, 255, 255, 0.855) !important;
  background-position: left top;
  background-repeat: repeat;
  background-attachment: scroll;
}

footer p span {
  font-family: "Mochiy Pop One", sans-serif;
}

/*** clases genéricas ***/
.normal {
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
}
.left        { text-align: left;}
.center      { text-align: center;}
.right       { text-align: right;}
.justify     { text-align: justify;}
.mayusculas  { text-transform: uppercase;}
.minusculas  { text-transform: lowercase;}
.negrita     { font-weight: bold;}
.cursiva     { font-style: italic;}
.normal      { text-decoration: none;}
.subrayado   { text-decoration: underline;}
.sobrerayado { text-decoration: overline;}
.entrerayado { text-decoration: underline overline;}
.tachado     { text-decoration: line-through;}

.line-impar { background-color: rgba(var(--theme-color_), 0.2); transition: background-color var(--transitions);}
.line-par { background-color: rgba(var(--theme-color_), 0.1); transition: background-color var(--transitions);}

/* Para cajas de contenido */
.fondo-blanco-transparente {
  background-color: rgba(255, 255, 255, 0.4);
}

/* estilos para comentarios */
.comentarios>div {
  display: flex;
  flex-wrap: wrap;
}
.comentarios .quote blockquote {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border: solid 2px #757575;
}
.comentarios .quote blockquote:before {
  background-color: rgba(255, 255, 255, 0.83);
}
.comentarios .quote p {
  transform: rotate(-2deg) skew(3deg);
  text-indent: 0.6em;
  font-style: italic;
  font-family: "Montez", cursive;
  font-size: 1.9em;
  line-height: 1.2em;
}
.comentarios .quote blockquote cite {
  font-family: "Lora", serif;
  font-size: 1.2em;
  font-style: italic;
  text-align: right;
}

.comentarios .quote blockquote cite, .comentarios .quote blockquote cite a:visited {
  color: #999;
}
/* fin comentarios */


/* ### Bordes ### */
.borde-top { border-top: 10px solid rgba(var(--theme-color_), 0.5);}
.borde-right { border-right: 10px solid rgba(var(--theme-color_), 0.5);}
.borde-bottom { border-bottom: 10px solid rgba(var(--theme-color_), 0.5);}
.borde-left { border-left: 10px solid rgba(var(--theme-color_), 0.5);}
.borde-top-dashed { border-top: 10px dashed rgba(var(--theme-color_), 0.5);}
.borde-right-dashed { border-right: 10px dashed rgba(var(--theme-color_), 0.5);}
.borde-bottom-dashed { border-bottom: 10px dashed rgba(var(--theme-color_), 0.5);}
.borde-left-dashed { border-left: 10px dashed rgba(var(--theme-color_), 0.5);}
.borde-none { border-style: none;}
.borde-top-none { border-top: none;}
.borde-right-none { border-right: none;}
.borde-bottom-none { border-bottom: none;}
.borde-left-none { border-left: none;}

.margin-top35 { margin-top: 35px; }

/* ### Efectos y transiciones ### */
body, footer {
  transition: background-color var(--transitions);}
.fondo-principal {
  transition: background-color var(--transitions), background-image var(--transitions);}
.logo {
  transition: color var(--transitions);}
section .title {
  transition: color var(--transitions), text-decoration-color var(--transitions);}
.borde-top, .borde-top-dashed, .borde-right, .borde-right-dashed, .borde-bottom,
.borde-bottom-dashed, .borde-left, .borde-left-dashed {
  transition: border var(--transitions);}


/*Estilo para tablas*/
  .tabla {
    margin: auto;
    position: relative;
  }

  .tabla td,th {
    padding: 5px 10px;
  }

  .tabla tr {
    background-color: rgba(var(--theme-color_),0.4);
  }

  .tabla tr:nth-child(even) {
    background-color: rgba(var(--theme-color_),0.2);
  }

/*Posicionamento del iframe para el vídeo*/
iframe {
  margin: auto;
  display: block;
}

/*Posicionamiento del iframe en movil*/
@media screen and (max-width: 485px) {
  iframe {
    width: 100%;
  }
}
