/***** Estilos comunes *****/

/* Variables */
:root {
    --min-width: 420px;
    --max-width: 800px;
}


/* etiquetas comunes */
body {
  margin: 0px;
  min-width: var(--min-width);
}

iframe {
    display: block;
    margin: auto;
}

footer {
    clear: both;
    padding: 10px;
}


/* header */


/***** Estilos específicos para pantallas reducidas **/




/***** Estilos específicos para pantallas grandes **/
 
