/***** Estilos comunes *****/


/* etiquetas comunes */
body {
  margin: 0px;
}

iframe {
    display: block;
    margin: auto;
}

section {
  margin: 1.5em 0px;
  padding: 1.5em;
}

section .title {
  margin: 10px;
  margin-bottom: 25px;
}

footer {
    clear: both;
    padding: 10px;
}

footer p {
  margin: 0px;
}


.anchoCentrado {
  margin: 0px auto;
  padding: 0px 10px;
}

.margin-none {
  margin: 0px;
}

/* estilos para comentarios */
.comentarios .quote {
  display: inline-block;
  margin: 1em;
  overflow: hidden;
  width: 95%;
}
.comentarios .quote blockquote {
  display: block;
  margin: 0;
  padding: 1em;
  position: relative;
}
.comentarios .quote blockquote:before {
  bottom: -10%;
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  top: -10%;
  transform: rotate(-12deg) skew(5deg);
}
.comentarios .quote p {
  margin: 10px;
}
.comentarios .quote blockquote cite {
  display: block;
}

.comentarios .quote blockquote > * {
  position: relative;
  z-index: 1;
}



/* header */
header#cabecera #branding,
header#cabecera #theme-selector,
header div#menu_principal nav,
div#contenido,
footer span,
.fit-width-theme {
  margin: 0 auto;
}

.logo {
  margin: 0px;
}

/***** Estilos específicos para pantallas reducidas **/




/***** Estilos específicos para pantallas normales **/
/* Establecemos variables */
:root {
    /*Anchos máximos y mínimos*/
    --min-width: 420px;
    --max-width: 800px;
}

body {
  min-width: var(--min-width);
}

/* definimos el ancho máximo del contenido (el restro se centrará) */
header#cabecera #branding,
header#cabecera #theme-selector,
header div#menu_principal nav,
div#contenido,
footer span,
.fit-width-theme {
  max-width: var(--max-width);
}
