#principal {
  background-color: orange;
}

#contenido {
  background-color: orange;
}

table#form_table td {
  padding: 8px 4px;
  border-top: 1px solid #333;
}
table#form_table {
  border-spacing: 0;
}
section#datos-mapa div {
  float: left;
  margin: 10px;
}
section#formulario-contacto {
  clear: both;
  padding-top: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: blue;
  color: white;
}

.boton {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}

.boton:hover {
  color: white;
  font-weight: bold;
  background-color: black;
}

option {
  background-color: orangered;
}

form {
  border: 2px solid black;
}

table td {
  border-style: none;
}
