section#datos-mapa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section#datos-mapa>div {
  flex: 49%;
  max-width: 49%;
}
section#datos-mapa p:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 485px) {
  section#datos-mapa>div {
    flex: 100%;
    max-width: 100%;
  }
  section#datos-mapa>div:first-child {
    margin-bottom: 5%;
  }
}

#formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#formulario>label {
  flex: 30%;
  max-width: 30%;
}
#formulario>div {
  flex: 70%;
  max-width: 70%;
  margin-bottom: 15px;
}
#formulario ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#formulario ul li {
  padding: 5px 0;
}

table#form_table {
  border-spacing: 0;
}
table#form_table td {
  padding: 8px 4px;
  border-top: 1px solid #333;
}
section#formulario-contacto {
  clear: both;
  padding-top: 10px;
}

option {
  background-color: var(--theme-color);
}

.btn-success {
  margin-left: 35%;
}
