#principal {
  background-color: rgb(224, 203, 143);
}

nav#menu_principal {
  display: block;
  margin: auto;
}

#contenido {
  background: linear-gradient(
    to bottom,
    rgb(250, 249, 249),
    rgb(219, 200, 147)
  );
}

#imagen {
  position: inline-block;
  width: 100%;
  padding-left: 80px;
  margin: 15px;
  display: flex;
}
#imagen img:first-child {
  margin-right: 40px;
}

#imagen > img {
  border-color: #fff;
}
.fotos,
.fotos2 {
  margin: 5px;
  background-color: #fff;
  border: 3px solid rgb(248, 245, 245);
  box-shadow: 2px 2px 10px #888888;
}
.fotos {
  float: left;
  margin-top: 50px;
}

.fotos1 {
  margin: 5px;
  background-color: #fff;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 10px #888888;
}

select {
  display: block;
  margin: auto;
}
video {
  display: block;
  margin: auto;
}

#iframe {
  margin: auto;
  border: 3px;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

#tabla-equipo {
  padding-left: 80px;
}
#tabla-equipo > div {
  width: 120px;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  background-color: #fff;
  /*border: 1px solid #999;*/
  box-shadow: 2px 2px 10px #888888;
}

#tabla-equipo h4 {
  text-align: center;
  font-size: 0.8em;
  font-weight: 800;
  margin: 10px 0px 0px 0px;
}

#Titulo_Ebroom {
  text-decoration: underline;
  background: linear-gradient(
    to bottom,
    rgb(250, 249, 249),
    rgb(219, 200, 147)
  );
  text-shadow: white;
  text-align: center;
}

#texto2 {
  background-color: #fff;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 10px #888888;
  margin: auto;
  padding: 10px;
  text-align: justify;
}

#texto1 {
  text-shadow: 2px 2px 2px #fff;
}
