header#cabecera #cabecera_color {
  background-color: rgba(255, 255, 255, 0.651);
}


header#cabecera #branding h2 {
  color: #333;
  text-align: left;
  font-size: 1.5em;
  font-weight: 600;
  text-shadow: #e6e6e6 1px 2px 0, #aba8a8 1px 4px 5px;
}

header#cabecera #searchbox input[type="text"] {
  opacity: 0.6;
  border: 2px solid rgba(var(--theme-color_), 0.8);
  border-radius: 23px;
  font-size: 16px;
  background-color: rgba(var(--theme-color_), 0.2);
  background-image: url("../images/searchicon_white.png");
  background-position: 6px 6px;
  background-repeat: no-repeat;
  transition: margin-left var(--transitions), width var(--transitions),
    padding-left var(--transitions), background-color var(--transitions),
    border var(--transitions);
}

header#cabecera #searchbox input[type="text"]:focus,
header#cabecera #searchbox input[type="text"]:focus-visible {
  color: white;
  outline: 0;
  background-color: rgba(var(--theme-color_), 0.8);
  background-image: url("../images/searchicon_white.png");
}

.theme-selector a {
  border: 1px solid black;
}

/* Menú */
#menu_principal {
    background-color: rgba(201, 201, 201, 0.075);
}
#menu_principal nav {
  line-height: 1.5em;
  text-align: center;
}
#menu_principal nav a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  transition: color 0.1s var(--transition-type),
    background-color 0.1s var(--transition-type);
}
#menu_principal nav a.active {
  color: rgba(255, 255, 255, 0.7);
}

#menu_principal nav a:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.4);
  transition: color 0.1s var(--transition-type),
    background-color 0.1s var(--transition-type);
}


/***** Estilos específicos para pantallas reducidas **/
@media screen and (max-width: 485px) {
  #menu-burger{
    background-color: var(--theme-color);
    transition: background-color var(--transitions);
  }
  .offcanvas-header {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color var(--transitions);
  }
  .fondo-principal {
    height: -webkit-fill-available;
  }
  .offcanvas-header .btn-close {
    font-size: 1.6em;
  }
  .offcanvas-body { line-height: 2em; }
  nav a {
    font-size: 1.6em;
    transition: color var(--transitions);
  }
  .theme-selector a {
    border-radius: 18px;
    transition: color var(--transitions),
      border var(--transitions);
  }

  .offcanvas-body .searchbox input {
    opacity: 0.6;
    font-size: 1.2em;
    color: white;
    border: 2px solid rgba(var(--theme-color_), 0.8);
    border-radius: 23px;
    background-color: rgba(var(--theme-color_), 0.8);
    background-position: 8px 8px;
    background-repeat: no-repeat;
    background-image: url('../images/searchicon_white.png');
    transition: background-color var(--transitions),
      border var(--transitions);
  }

  .offcanvas-body .searchbox input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
}
