header#cabecera #branding {
  margin: 0px auto;
  padding: 8px 10px;
  position: relative;
}

header#cabecera #branding img.logo {
  float: left;
  margin-right: 5px;
}

header#cabecera #branding h2 {
  margin: 2px 0px;
}

header#cabecera #theme-selector {
  position: absolute;
  top: 10px;
  right: 4px;
}
header#cabecera #theme-selector > div {
  position: fixed;
  margin-left: -100px;
  z-index: 50;
}
header#cabecera #theme-selector a {
  display: inline-block;
  width: 20px;
  height: 20px;
}

header#cabecera #searchbox {
  position: absolute;
  top: 50px;
  right: 15px;
}
header#cabecera #searchbox > div {
  position: absolute;
  margin-left: -44px;
}

header#cabecera #searchbox input[type="text"] {
  width: 34px;
  height: 34px;
  box-sizing: border-box;
  padding: 6px;
}

header#cabecera #searchbox input[type="text"]:focus,
header#cabecera #searchbox input[type="text"]:focus-visible {
  margin-left: -200px;
  width: 250px;
  padding-left: 38px;
}

header#cabecera #menu_principal nav a {
  display: inline-block;
  padding: 5px 10px;
}
