.branding {
  margin: 0px auto;
  padding: 8px 10px;
  position: relative;
}

.branding img.logo {
  float: left;
  margin-right: 5px;
}

.branding h2 {
  margin: 2px 0px;
}

.theme-selector {
  position: absolute;
  top: 10px;
  right: 4px;
}
.theme-selector > div {
  position: fixed;
  margin-left: -100px;
  z-index: 50;
}
.theme-selector a {
  display: inline-block;
  width: 20px;
  height: 20px;
}

header#cabecera #searchbox {
  position: absolute;
  top: 50px;
  right: 15px;
}
header#cabecera #searchbox > div {
  position: absolute;
  margin-left: -44px;
}

header#cabecera #searchbox input[type="text"] {
  width: 34px;
  height: 34px;
  box-sizing: border-box;
  padding: 6px;
}

header#cabecera #searchbox input[type="text"]:focus,
header#cabecera #searchbox input[type="text"]:focus-visible {
  margin-left: -200px;
  width: 250px;
  padding-left: 38px;
}

header#cabecera #menu_principal nav a {
  display: inline-block;
  padding: 5px 10px;
}

/***** Estilos específicos para pantallas reducidas **/
@media screen and (max-width: 485px) {
  body {
    padding: 0!important;
  }
  #menu_principal, #theme-selector-pc, #searchbox { display: none; }
  .offcanvas-backdrop {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
  .offcanvas-header { padding: 0.5rem 10px 0.5rem 1rem; }
  .offcanvas-header .btn-close {
    padding: 0;
    margin: 0 10px 0 0;
  }
  .offcanvas-body > * {
    margin-top: 1rem;
  }
  nav a {
    display: block;
    padding: 5px;
  }
  #buttom-burger {
    display: block;
  }
  .theme-selector, .theme-selector > div {
    position: relative;
    top: auto;
    right: auto;
    text-align: center;
  }
  .theme-selector > div {
    margin: 0;
  }
  .theme-selector a {
    width: 65px;
    height: 35px;
    margin-right: 20px;
  }
  .theme-selector a:last-child {
    margin-right: 0;
  }

  .offcanvas-body .searchbox input {
    width: 100%;
    padding-left: 40px;
  }
}
