@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");


h3 {
  font-weight: normal;
}

#follow {
  background: transparent;
  text-align: center;
}
#follow,
#follow a,
#follow a:hover,
#follow a:visited {
  color: rgba(var(--theme-color_), 0.6);
  text-decoration: none;
  font-size: 1.5em;
  letter-spacing: 15px;
}

#follow a,
#follow a:hover,
#follow a:visited {
  border-radius: 10px;
  border: 2px solid transparent;
  transition: color var(--transitions), border var(--transitions),
    background-color var(--transitions);
}
#follow a:hover {
  color: rgb(var(--theme-color_));
  border: 2px solid rgba(var(--theme-color_), 0.6);
  background-color: rgba(0, 0, 0, 0.25);
}


section#introduccion .logo {
  font-size: 1em;
  text-shadow: none;
}


section#somos-mejores ol li {
  line-height: 1.2em;
  font-size: 1.1em;
}


/* PARALAX */

.bg-theme,
.bg-theme-dark {
  background-image: url("../images/index/patron-fondo.png");
  background-color: rgba(255, 255, 255, 0.855) !important;
  background-position: left top;
  background-repeat: repeat;
  background-attachment: scroll;
}
.bg-theme-dark {
  filter: invert(90%);
  color: #222 !important;
  background-color: rgba(255, 255, 255, 0.855) !important;
  background-attachment: fixed;
}
.bg-theme-dark span.logo {
  filter: invert(75%);
  font-size: 2em !important;
}

#paralax div.text {
  color: #777;
  background-color: white;
  text-align: center;
  text-align: justify;
}
#paralax span {
  font-size: 1em;
  text-shadow: none;
}

#paralax .image-1,
#paralax .image-2 {
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#paralax .image-1 {
  background-image: url("../../media/images/index/volando-fondo.jpg");
}

#paralax .image-2 {
  background-image: url("../../media/images/index/volando-fondo2.jpg");
}
#paralax .image-2 span {
  background-color: transparent;
  font-size: 25px;
  color: #f7f7f7;
}
#paralax .bg-theme-dark p {
  text-align: center !important;
}
#paralax .bg-theme-dark p.textsmoke {
  font-size: 4em;
  font-family: "Montserrat", sans-serif;
  margin-top: 15px;
  line-height: 1.1em;
  letter-spacing: 1px;
  filter: invert(95%);
  color: rgba(var(--theme-color_), 0.41);
  transition: color var(--transitions);
  background-image: url("../../media/images/index/fondo-magico.webp");
  background-size: cover;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
}
#paralax .caption {
  text-align: center;
  color: #000;
}

#paralax .caption span {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 25px;
  letter-spacing: 10px;
}
#paralax .caption div.second {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 50%;
}
#paralax .caption div.second div.logo {
  font-size: 4em;
}

#paralax h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones /
@media only screen and (max-device-width: 1024px) {
  .image-1,
  .image-2 {
    background-attachment: scroll;
  }
}
*/

#img-reflect {
  position: relative;
}
#img-reflect img {
  width: 50%;
  -webkit-box-reflect: right;
  opacity: 60%;
}
#img-reflect div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  text-align: left;
  padding: 15px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(var(--theme-color_), 0.9);
  transition: background-color var(--transitions);
  color: white;
}
