.productos>div {
  display: flex;
  flex-wrap: wrap;
}
.productos article {
  position: relative;
  flex: 100%;
  max-width: 100%;
}
.productos figure {
  display: grid;
}
.productos figure img {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
}
.productos figure figcaption {
  grid-column: 1;
  grid-row: 2;
}
.productos figure figcaption>span {
  display: block;
}
.productos figure figcaption>span>span {
  display: inline-block;
}
.productos figure .oferta {
  grid-column: 1;
  grid-row: 1;
  display: flex;
}
.productos figure .oferta>span {
  margin: auto;
  display: block;
}

@media screen and (min-width: 600px) {
  .productos article {
    flex: 31.5%;
    max-width: 31.5%;
  }
}

@media screen and (min-width: 400px) and (max-width: 599px) {
  .productos article {
    flex: 48%;
    max-width: 48%;
  }
}
