.productos>div {
  justify-content: space-between;
}

.productos article {
  margin-bottom: 20px;
}

.productos figure {
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.247);
}
.productos figure img {
  background-color: white;
  border: 10px solid white;
}
.productos figure span.oferta {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  transform: rotate(-30deg) skew(0deg);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(var(--theme-color_), 0.85);
  transition: background-color var(--transitions);
  padding: 10px;
}

.productos figure figcaption {
  padding: 10px;
  color: white;
  text-align: center;
  font-weight: 800;
  text-shadow: 0px 0px 7px #000;
  background-color: rgba(var(--theme-color_), 0.85);
  transition: background-color var(--transitions);
}

.productos figure figcaption>span {
  font-weight: 400;
  margin: 5px;
}
.productos figure figcaption>span>span {
  margin: 0 10px;
  color: rgb(220,70,40);
}

@media screen and (max-width: 485px) {
  .productos article:last-child {
    margin-bottom: 0;
  }
}
