/*Unión tabla*/
table.seguro {
  border-collapse: collapse;
}

/*Imagen radius*/
img.border {
  border-radius: 100%;
}
/*imagen top*/
img.top {
  margin-top: 2%;
}

section .tabla {
  margin-bottom:20px;
}