/*Unión tabla*/
table.seguro {
  border-collapse: collapse;
}

/*Imagen radius*/
img.border {
  border-radius: 100%;
}
/*imagen top*/
img.top {
  margin-top: 2%;
}
/*#contenido {
  background-color: rgb(251, 251, 253);
}*/
