@import url("base.css");
@import url("layout.css");
@import url("header.css");
@import url("formulario.css");


/* definimos el ancho máximo del contenido (el restro se centrará) */
header#cabecera #branding,
header#cabecera #theme-selector,
header div#menu_principal nav,
div#contenido,
footer span,
.fit-width-theme {
  max-width: var(--max-width);
  margin: 0 auto;
}

/* Diseño de logotipo */
.logo {
  color: rgb(var(--theme-color_));
  transition: color var(--transitions);
  margin: 0px;
  font-size: 2.5em;
  text-align: left;
  font-family: "Mochiy Pop One", sans-serif;
  text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -4px 15px,
    red 0 -8px 40px;
}


#contenido_color {
  background-image: url("../images/index/patron-fondo.png");
  background-color: rgba(255, 255, 255, 0.855) !important;
  background-position: left top;
  background-repeat: repeat;
  background-attachment: scroll;
  transition: background-color var(--transitions),
    background-image var(--transitions);
}

#contenido {
  text-align: justify;
}


.anchoCentrado {
  margin: 0px auto;
  padding: 0px 10px;
}

#contenido_color {
  background-color: #ffffff;
  padding: 1px !important;
  margin-top: 0px !important;
}

footer p {
  margin: 0px;
}

footer p span {
  font-family: "Mochiy Pop One", sans-serif;
}

/* clases genéricas */
.normal {
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
}
.negrita {
  font-weight: bold;
}
.cursiva {
  font-style: italic;
}
.subrayado {
  text-decoration: underline;
}
.sobrerayado {
  text-decoration: overline;
}
.entrerayado {
  text-decoration: underline overline;
}
.tachado {
  text-decoration: line-through;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.mayusculas {
  text-transform: uppercase;
}
.minusculas {
  text-transform: lowercase;
}

/* Para cajas de contenido */
.transparent {
  background-color: rgba(255, 255, 255, 0.4);
}
.border-top,
.border-top-dashed {
  border-top: 10px solid rgba(var(--theme-color_), 0.5);
  transition: border var(--transitions);
}
.border-right,
.border-right-dashed {
  border-right: 10px solid rgba(var(--theme-color_), 0.5);
  transition: border var(--transitions);
}
.border-bottom,
.border-bottom-dashed {
  border-bottom: 10px solid rgba(var(--theme-color_), 0.5);
  transition: border var(--transitions);
}
.border-left,
.border-left-dashed {
  border-left: 10px solid rgba(var(--theme-color_), 0.5);
  transition: border var(--transitions);
}
.border-top-dashed,
.border-right-dashed,
.border-bottom-dashed,
.border-left-dashed {
  border-style: dashed;
}
.border-none {
  border-style: none;
}
.border-top-none {
  border-top: none;
}
.border-right-none {
  border-right: none;
}
.border-bottom-none {
  border-bottom: none;
}
.border-left-none {
  border-left: none;
}
